:root {
  --bg-img: url('/static/favicon.svg') top left / 120px repeat;
  --t-white: rgba(255, 255, 255, 0.90);
  --bg-t-white: linear-gradient(var(--t-white), var(--t-white));
  --t-black: rgba(0, 0, 0, 0.95);
  --bg-t-black: linear-gradient(var(--t-black), var(--t-black));

  --light: rgb(218, 218, 218);
  --dark: rgb(27, 27, 27);
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: var(--light);
  background: var(--bg-t-white), var(--bg-img), #ffffff;
  color: var(--dark);
}

body[data-theme='dark-theme'] {
  background-color: var(--dark);
  background: var(--bg-t-black), var(--bg-img), #159208;
  color: var(--light);
}

a {
  text-decoration: none;
  color: #00acee;
}

a:hover {
  text-decoration: underline;
  color: #0093ce;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em 0.6em;
  background-color: rgb(240, 240, 240);
}

body[data-theme='dark-theme'] .toolbar {
  background-color: rgb(0, 0, 0);
}

.toggler {
  display: block;
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 60px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background: #ffffff;
  border-radius: 25px;
  transition: 0.3s;
}

input:checked + label {
  background: #45c95b;
}

input:checked + label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

label:active:after {
  width: 40px;
}

b {
  font-weight: 500;
}
