<!doctype html>
<html>
    <head>
      <title>WCAYT by @kozyre4ek</title>
      <meta name="twitter:site" content="WCAYT"/>
      <meta name="twitter:title" content="WhatCucumberAreYouToday">
      <meta name="twitter:description" content="А какой огурчик сегодня ты?"/>
      <meta name="twitter:creator" content="@kozyre4ek"/>
      <meta name="twitter:image:src" content="https://stroy-podskazka.ru/ogurec/sorta/zena/"/>
      <meta name="twitter:domain" content="www.what-cucumber-are-you-today.xyz"/>
    </head>
    <body>
        <div>by: <a href="https://twitter.com/kozyre4ek">Ян НахтигалЪ (@kozyre4ek)</a></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>