{% extends "base.html" %} {% block meta %}
<meta name="twitter:image" content="{{ cucumber_url }}" />
{% endblock %} {% block content %} {% if cucumber_flag %}
<section class="content">
  <h1 class="title">
    <span class="your-day">Ты сегодня</span> {{ cucumber_name }}
  </h1>

  <div class="actions">
    <form class="share-form" method="post" action="" novalidate>
      {{ form.hidden_tag() }}
      <span class="share-button">{{ form.submit }}</span>
    </form>

    <a
      href="https://twitter.com/share?ref_src=twsrc%5Etfw"
      class="twitter-share-button"
      data-text="Я – {{ cucumber_name }}. А какой огурчик сегодня ты?"
      data-hashtags="WhatCucumberAreYouToday"
      data-lang="ru"
      data-show-count="false"
      data-size="large"
      url="www.what-cucumber-are-you-today.xyz"
      >Tweet</a
    >
  </div>

  <figure class="preview">
    <picture>
      <img
        class="preview-image"
        src="{{ cucumber_url }}"
        alt="{{ cucumber_name }}"
      />
    </picture>
    <figcaption class="preview-caption">{{ cucumber_text }}</figcaption>
  </figure>

  <div class="properties">{{ cucumber_desc | safe}}</div>
</section>

<script
  async
  src="https://platform.twitter.com/widgets.js"
  charset="utf-8"
></script>

<script async src="/static/theme.js"></script>
{% else %}
<form method="post" action="" novalidate>
  {{ form.hidden_tag() }}
  <p>{{ form.submit }}</p>
</form>
{% endif %} {% endblock %}
